* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    text-align: center;
    width: 100vw;
    border: 3px solid rgb(161, 233, 161);
    color: rgb(161, 233, 161);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 8vh 0;
}

.nav {
    text-align: center;
    width: 100vw;
    border: 3px solid blue;
    color: blue;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 8vh 0;
}
.internal__wrapper{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.section{
    width: 60vw;
    border:3px solid rgb(235, 145, 226);
    color:rgb(235, 145, 226);
    padding: 8vh 0;
    text-align: center;
    margin-bottom: 5px;
}
.article{
    width: 60vw;
    border:3px solid rgb(145, 224, 239);
    color:rgb(145, 224, 239);
    padding: 8vh 0;
    text-align: center;
    margin-bottom: 5px;
}
.aside{
    width: 40vw;
    border:3px solid yellow;
    color:yellow;
    text-align: center;
    font-size: 18px;
    padding: 10vh 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer{
    width: 100vw;
    border:3px solid red;
    color:red;
    text-align: center;
    padding: 8vh 0;
}